
.container { 
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:  center;
    justify-content: center;
    padding:  15px;
    background-color: white;
}

.boxCAD { 
    margin-top: 15px;
    height: 660px;
    width: 1100px;
    background-color: #707078;
    border-radius: 10px;
    overflow: visible;
    padding: 55px 33px 33px 33px;
}

.botaoMais { 
    background: #198754;
    border: none;
    border-radius: 0.375rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: white;
    border-color: #198754;
}

.botaoMais:hover { 
    background-color: #157347;
    border-color: #157347;
}

.dropdown{
    display: inline-block;
    margin: 5px;
}

.atributos{
    padding-left: 18%;
    padding-right: 18%;
}

.form-control{
    margin: 0;
}

.input-group-text{
    height: 38px;
}
