
.container { 
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:  center;
    justify-content: center;
    padding:  15px;
    background-color: white;
}

.box { 
    margin-top: 15px;
    height: 660px;
    width: 1100px;
    border: rgb(87, 87, 87) 1px solid;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    overflow: visible;
    padding: 55px 33px 33px 33px;
}

.botaoMais { 
    background: #198754;
    border: none;
    border-radius: 0.375rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: white;
    border-color: #198754;
}

.botaoMais:hover { 
    background-color: #157347;
    border-color: #157347;
}