/*Botão*/
.buttonhall{
    margin: 0%;
}
.buttonOne{
    background-color: rgb(243, 234, 234);
    text-align: center;
    padding: 11%;
    height: 60%;
    width: 50%;
    display: inline-block;
    border-right: solid 2px rgb(255, 255, 255);
    margin: 0;
}
.buttonTwo{
    background-color: rgb(243, 234, 234);
    text-align: center;
    padding: 11%;
    width: 50%;
    display: inline-block;
    border-left: solid 2px rgb(255, 255, 255);
    margin: 0;
}

.buttonThree{
    background-color: rgb(243, 234, 234);
    text-align: center;
    padding: 11%;
    width: 50%;
    display: inline-block;
    border-top: solid 4px rgb(255, 255, 255);
    border-right: solid 2px rgb(255, 255, 255);
    margin: 0;
}
.buttonFour{
    background-color: rgb(243, 234, 234);
    text-align: center;
    padding: 11%;
    width: 50%;
    display: inline-block;
    border-left: solid 2px rgb(255, 255, 255);
    border-top: solid 4px rgb(255, 255, 255);
    margin: 0;
}
    
/*Animação botão*/
.top a:hover{
    background-color: rgb(228, 216, 216);
}
.top a:active{
    background-color: rgb(202, 190, 190);
}
.down a:hover{
    background-color: rgb(228, 216, 216);
}
.down a:active{
    background-color: rgb(202, 190, 190);
}
.text-button {
    font-family: Stencil Std, fantasy;
    text-decoration: none !important;
    font-size: 150%;
    color: rgb(41, 37, 37);
}
a:link {
    text-decoration: none !important;
}
    
/*
background-color: rgb(243, 234, 234);
background-color: rgb(228, 216, 216);
border-right: solid 2px black;
*/