/*Botão*/
.buttonhall{
    margin: 0%;
}
.buttonOne{
    background-color: #2179FD;
    text-align: center;
    padding: 10%;
    height: 60%;
    width: 50%;
    display: inline-block;
    border-right: solid 2px rgb(255, 255, 255);
    margin: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top: #F7FFF7 solid 4px;
}
.buttonTwo{
    background-color: #2179FD;
    text-align: center;
    padding: 10%;
    width: 50%;
    display: inline-block;
    border-left: solid 2px rgb(255, 255, 255);
    margin: 0;
    border-top: #F7FFF7 solid 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.buttonThree{
    background-color: #2179FD;
    text-align: center;
    padding: 10%;
    width: 50%;
    display: inline-block;
    border-top: solid 4px rgb(255, 255, 255);
    border-right: solid 2px rgb(255, 255, 255);
    margin: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.buttonFour{
    background-color: #2179FD;
    text-align: center;
    padding: 10%;
    width: 50%;
    display: inline-block;
    border-left: solid 2px rgb(255, 255, 255);
    border-top: solid 4px rgb(255, 255, 255);
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
    
/*Animação botão*/
.top a:hover{
    background-color: #0252CA;
}
.top a:active{
    background-color: #0242A2;
}
.down a:hover{
    background-color: #0252CA;
}
.down a:active{
    background-color: #0242A2;
}
.text-button {
    font-family: Tahoma;
    text-decoration: none !important;
    font-size: 150%;
    color: #F7FFF7;
}
a:link {
    text-decoration: none !important;
}
    
/*
background-color: rgb(243, 234, 234);
background-color: rgb(228, 216, 216);
border-right: solid 2px black;
*/