
.container { 
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:  center;
    justify-content: center;
    padding:  15px;
    background-color: white;
}

.box { 
    margin-top: 15px;
    height: 660px;
    width: 1100px;
    border: rgb(87, 87, 87) 1px solid;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    overflow: visible;
    padding: 55px 33px 33px 33px;
}
