.imgNav { 
    width:50px;
}

.logoNav { 
    padding-left: 7px;
    
}
Form.d-flex button{
    background-color: royalblue;
    color: white;
    border-color: royalblue
}
Form.d-flex button:hover{
    background-color: rgb(30, 90, 225);
    color: white;
    border-color: rgb(80, 62, 238); 
}
.exitSpan {
    position:absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    padding-right: 20px;
}

.exitButton { 
    width: 75px;
    height: 40px;

}

.removeUnderline a { 
    text-decoration: none;
}