.imgNav { 
    width:50px;
}

.logoNav { 
    padding-left: 7px;
    
}
Form.d-flex button{
    background-color: rgb(80, 62, 238); 
    color: white;
    border-color: rgb(80, 62, 238); 
}
.exit-button {
    margin-top: 100px;
}