.navbar-brand{
    background-color: rgb(226, 0, 0);
}
.Logo_pms{
    width: 25%;
    align-items: center;
    text-align: center;
    background-color: rgb(100, 100, 0);
}
.search{
    width: 25%;
    align-items: center;
    text-align: center;
    background-color: rgb(82, 180, 82);
}
.dd{
    width: 100%;
    background-color: rgb(151, 24, 224);
}