* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.boxLogin {
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:  center;
    justify-content: center;
    padding:  15px;
    background-color: white;
    
}

.login {
    width: 375px;
    border: rgb(204, 204, 204) 1px solid;
    border-radius: 10px;
    overflow: visible;
    padding: 55px 33px 33px 33px;
}
.login p {
    text-align: center;
}
.error {
    width:70% !important;
    left: 50% !important;
}

.loginForm {
    width: 100%;
}

.loginTitulo { 
    display: block;
    font-size: 25px;
    color: black;
    line-height: 1.2;
    text-align: center;
    padding: 0px 0px 15px 0px;
}

.loginTitulo img { 
    width: 125px;
}

.inputsL { 
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.input {
    border-radius: 5px;
    font-size: 15px;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    border: 1px solid rgb(204, 204, 204);
    padding: 0 7px;
}

.role=alert {
    
}