.login-main {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login {
  
}

.login-pms {
  height: 25vmin;
}


h4 { 
  color: black;
}